<!-- <header>
    <nav>
        <h1>My Portfolio</h1>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>                                           -->


<header class="navbar">
    <nav>
        <h1 class="logo">Anas Ansari</h1>
        <ul class="nav-links">
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <button class="menu-toggle" ng-click="isMenuOpen = !isMenuOpen">
            ☰
        </button>
    </nav>
    <ul class="mobile-nav" ng-class="{ 'open': isMenuOpen }">
        <li><a href="#about" ng-click="isMenuOpen = false">About</a></li>
        <li><a href="#projects" ng-click="isMenuOpen = false">Projects</a></li>
        <li><a href="#contact" ng-click="isMenuOpen = false">Contact</a></li>
    </ul>
</header>
