
<script src="https://cdn.emailjs.com/dist/email.min.js"></script>

<section id="contact" class="contact-section">
    <h2 class="section-title">Contact Me</h2>
    <p class="contact-info">
        <i class="fas fa-envelope"></i> 
        <a href="mailto:anasansari590@gmail.com"></a>
    </p>
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/anas-ansari786" target="_blank" class="social-link">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/anas-ansari07" target="_blank" class="social-link">
            <i class="fab fa-github"></i>
        </a>
    </div>
    <form class="contact-form" id="contact-form" action="https://formsubmit.co/anasansari590@gmail.com" method="POST">
        <input type="text" placeholder="Your Name" required />
        <input type="email" placeholder="Your Email" required />
        <textarea placeholder="Your Message" required></textarea>
        <button type="submit" class="btn">Send Message</button>
    </form>
</section>
