
<section id="hero" class="hero">
    <div class="hero-content">
        <h2>Hello, I'm <span class="name">Anas Ansari</span></h2>
        <p>
            I am a Software Engineer with experience as a Backend Developer, Full-Stack Developer, and API Developer using
            .NET and C#. I have also experience in working with databases like MSSQL, MySQL and PostgreSQL.
        </p>
        <a href="#projects" class="btn">View My Work</a>
    </div>
</section>

<app-about></app-about>
<app-contact></app-contact>
